.cicwl-block-editor-preview {
    border: 1px dashed #ccd0d4;
    padding: 12px;
    background: #fff;
}

.cicwl-block-editor-note {
    margin: 0 0 10px;
    font-size: 12px;
    color: #757575;
    font-style: italic;
}
